Options -Indexes -MultiViews
RewriteEngine On
RewriteBase /

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# SEO Redirects
RewriteRule ^3d-printing/?$ /3d-printing-tashkent [R=301,L,QSA]
RewriteRule ^3d-printing-services/?$ /3d-printing-tashkent [R=301,L,QSA]
RewriteRule ^mould/?$ /injection-molding [R=301,L,QSA]
RewriteRule ^3d-scanning-services/?$ /3d-scanning [R=301,L,QSA]
RewriteRule ^projects/?$ /blog [R=301,L,QSA]
RewriteRule ^projects/(.+)$ /blog/$1 [R=301,L,QSA]

# Don't rewrite assets folder
RewriteRule ^assets/ - [L]
RewriteRule ^fonts/ - [L]

# Don't rewrite if it's an actual file
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Force React to handle all other requests (even if a folder exists)
RewriteRule ^ index.html [QSA,L]